* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}
@media (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #e5fcfa;
  font-size: 2rem;
  background: #142625;
}

a {
  color: #fff;
  font-size: 1.8rem;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.color-text {
  font-style: italic;
  color: #58F6F2;
  text-align: right;
}

.ml-96 {
  margin-left: -9.6rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffad0e;
  font-size: 1.8rem;
  background: transparent;
  padding: 1.5rem 2.3rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ffad0e;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn:hover {
    opacity: 0.5;
    transform: translateY(-0.4rem);
  }
  .btn:hover::after {
    opacity: 0;
  }
  .btn:active {
    transform: translateY(-0.2rem);
  }
}

.cta__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25.5rem;
  height: 25.5rem;
  background-color: #ffad0e;
  color: #142625;
  border: 0.1rem solid #ffad0e;
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 600;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
}

.header__container {
  padding: 2.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
    gap: 2.8rem;
  }
}
@media (max-width: 767px) {
  .header .nav__list {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.6rem;
}
.nav__link {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 768px) {
  .nav__link:hover {
    opacity: 0.5;
  }
}

.footer {
  padding: 6.4rem 0 0 0;
}
.footer__container {
  display: block;
}
@media (max-width: 767px) {
  .footer__flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__logo {
  margin: 0 0 7.9rem 0;
}
.footer__body {
  margin: 0 0 4rem 0;
  width: 100%;
}
.footer .info {
  display: flex;
  justify-content: flex-start;
  gap: 11.7rem;
}
@media (max-width: 991px) {
  .footer .info {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .footer .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.footer .info__item {
  display: flex;
  flex-direction: column;
}
.footer .info__title {
  font-size: 1.6rem;
  line-height: 1.12;
  color: #ffad0e;
  text-transform: uppercase;
  margin: 0 0 0.8rem 0;
}
.footer .info__link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #e5fcfa;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #67a9a2;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .footer__bottom {
    flex-direction: column-reverse;
  }
}
.footer .social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 374px) {
  .footer .social__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .social__link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.footer__copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}
@media (max-width: 467px) {
  .footer__nav .nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    margin: 0 0 2rem 0;
  }
}
.footer__nav .nav__link {
  font-size: 1.6rem;
  line-height: 1.12;
}

.main {
  background: linear-gradient(180deg, #0abab5 0%, #0a67b8 100%);
}

.title {
  font-family: "Source Serif 4", serif;
  font-size: 7.6rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.label {
  display: block;
  font-family: "Source Serif 4", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero {
  background-color: #142625;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1.5rem 13.8rem 1.5rem;
}
.hero__content {
  text-align: left;
  padding-left: 9.6rem;
}
.hero__title {
  margin-bottom: 1.6rem;
}
.hero__label {
  margin-bottom: 25.7rem;
}
.hero .scroll-to-explore {
  display: inline-block;
  vertical-align: top;
}
.hero .scroll-to-explore a {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffad0e;
  padding-right: 1rem;
}

.number__container {
  padding: 18.6rem 1.5rem 8.8rem 1.5rem;
}
.number__content {
  padding-left: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10.7rem;
}
.number__title {
  margin-bottom: 1.6rem;
}
.number__label {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8;
  color: #fff;
  max-width: 44.5rem;
}
.number__services {
  width: 34.8rem;
  padding-top: 8rem;
  text-align: right;
}
.number__list {
  display: flex;
  justify-content: space-between;
  gap: 3.1rem;
}
.number__item {
  max-width: 25%;
}
.number__value {
  display: block;
  font-size: 9.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #e5fcfa;
  margin-bottom: 2.4rem;
}
.number__text {
  display: block;
  font-family: "Source Serif 4", serif;
  color: #58f6f2;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.services__subtitle {
  display: block;
  font-family: "Source Serif 4", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0a10b8;
  margin-bottom: 3.2rem;
}
.services__cta a {
  box-shadow: 0px 4px 12px 0px rgba(20, 38, 37, 0.2392156863);
}

.testimonial__container {
  background-color: #e5fcfa;
  border-radius: 32px 0px 0px 32px;
  position: relative;
}
.testimonial__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100%;
  background-color: #e5fcfa;
}
.testimonial__body {
  padding: 15.6rem 0 8.4rem 9.7rem;
}
.testimonial__text {
  font-family: "Source Serif 4", serif;
  color: #142625;
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 2.4rem;
  position: relative;
}
.testimonial__text::after {
  content: "";
  width: 6.6rem;
  height: 5.7rem;
  background: url("/img/section-testimonial/icon-quotes.svg") no-repeat center center/cover;
  position: absolute;
  top: -8rem;
  left: 0;
}
.testimonial__text::before {
  content: "";
  width: 16rem;
  height: 9.1rem;
  background: url("/img/section-testimonial/arrow.svg") no-repeat center center/cover;
  position: absolute;
  bottom: -10rem;
  right: 38rem;
}
.testimonial__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7;
  color: #0a10b8;
}/*# sourceMappingURL=style.css.map */