* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}
@media (max-width: 1199px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #e5fcfa;
  font-size: 2rem;
  background: #142625;
}

a {
  color: #fff;
  font-size: 1.8rem;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.title {
  font-family: "Source Serif 4", serif;
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
}

.label {
  display: block;
  font-family: "Source Serif 4", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.color-text {
  font-style: italic;
  color: #58f6f2;
  text-align: right;
}

.cta__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25.5rem;
  height: 25.5rem;
  background-color: #ffad0e;
  color: #142625;
  border: 0.1rem solid #ffad0e;
  font-size: 1.8rem;
  line-height: 1.33;
  font-weight: 600;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 4px 12px 0px rgba(20, 38, 37, 0.24);
}
.cta__button:hover {
  background-color: #E09A14;
  border: 0.1rem solid #E09A14;
}
.cta__button:active {
  background-color: #CC8D16;
  border: 0.1rem solid #CC8D16;
}
.cta:disabled {
  background-color: #FFCA62;
  border: 0.1rem solid #FFCA62;
}

.card {
  width: 16rem;
  height: 16rem;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(20, 38, 37, 0.12);
  border-radius: 1.6rem;
  border: 0.1rem solid #58f6f2;
  padding: 2.7rem 1.2rem;
  align-items: center;
}
.card__img {
  margin-bottom: 1.6rem;
}
.card__title {
  font-size: 2rem;
  color: #e5fcfa;
}

.card-solutions {
  width: 35.2rem;
  height: 40rem;
  padding: 30px 24px 17px 30px;
  background-color: rgba(20, 38, 37, 0.12);
  border: 0.1rem solid #58f6f2;
  border-radius: 1.6rem;
}
.card-solutions__top {
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card-solutions__title {
  font-family: "Source Serif 4", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: #e5fcfa;
  margin-bottom: 0.8rem;
}
.card-solutions__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.44;
  text-align: left;
  color: #b2eee8;
  margin-bottom: 5.6rem;
}
.card-solutions__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.33;
  color: #ffad0e;
  text-transform: uppercase;
  position: relative;
}
.card-solutions__link:hover {
  opacity: 0.5;
}
.card-solutions__link::before {
  content: "";
  background: url(/img/icon/arrow-right.svg) no-repeat;
  position: absolute;
  top: 7px;
  right: -46px;
  width: 3.5rem;
  height: 2rem;
}

.cta-block {
  display: flex;
  gap: 3.2rem;
}
.cta-block__label {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e5fcfa;
  position: relative;
}
.cta-block__label::before {
  content: "";
  width: 9.6rem;
  height: 7.5rem;
  background: url("/img/icon/arrow-down-big.svg") no-repeat;
  position: absolute;
  bottom: 9.6rem;
  right: 1.2rem;
}

.ml-96 {
  margin-left: -9.6rem;
}

.pl-96 {
  padding-left: 9.6rem;
}

.pl-50 {
  padding-left: 5rem;
}

.pl-320 {
  padding-left: 34rem;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffad0e;
  font-size: 1.8rem;
  background: transparent;
  padding: 1.1rem 2.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ffad0e;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #ffad0e;
  border: 0.1rem solid #ffad0e;
  color: #fff;
}
.btn:active {
  background-color: #CC8D16;
  border: 0.1rem solid #CC8D16;
}
.btn:disabled {
  background-color: #FFCA62;
  border: 0.1rem solid #FFCA62;
}
.back-to-top {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.8rem 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffad0e;
  box-shadow: 0px 4px 12px 0px rgba(20, 38, 37, 0.24);
  position: absolute;
  bottom: 0;
  right: 0;
}
.back-to-top:hover {
  background: #E09A14;
}
.back-to-top:active {
  background: #CC8D16;
}
.back-to-top:disabled {
  background: #FFCA62;
}
.back-to-top::before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 2.7rem;
  background: url("/img/icon/arrow-top.svg") 50% 50% no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__container {
  padding: 2.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
    gap: 2.8rem;
  }
}
@media (max-width: 767px) {
  .header .nav__list {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.1rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.nav__link {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 768px) {
  .nav__link:hover {
    color: #ffad0e;
  }
}

.footer {
  padding: 6.4rem 0 0 0;
}
.footer__container {
  display: block;
}
@media (max-width: 767px) {
  .footer__flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__logo {
  margin: 0 0 7.9rem 0;
}
.footer__body {
  margin: 0 0 4rem 0;
  width: 100%;
  position: relative;
}
.footer .info {
  display: flex;
  justify-content: flex-start;
  gap: 11.2rem;
}
@media (max-width: 991px) {
  .footer .info {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .footer .info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.footer .info__item {
  display: flex;
  flex-direction: column;
}
.footer .info__title {
  font-size: 1.6rem;
  line-height: 1.12;
  color: #ffad0e;
  text-transform: uppercase;
  margin: 0 0 0.8rem 0;
}
.footer .info__link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  color: #e5fcfa;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #67a9a2;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .footer__bottom {
    flex-direction: column-reverse;
  }
}
.footer .social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 374px) {
  .footer .social__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .social__link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer .social__link:hover {
    color: #ffad0e;
  }
}
.footer__copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}
@media (max-width: 467px) {
  .footer__nav .nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    margin: 0 0 2rem 0;
  }
}
.footer__nav .nav__link {
  font-size: 1.6rem;
  line-height: 1.12;
}

.main {
  background: linear-gradient(180deg, #0abab5 0%, #0a67b8 100%);
}

.hero {
  background-color: #142625;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1.5rem 13.3rem 1.5rem;
  position: relative;
  overflow: hidden;
  gap: 3rem;
}
.hero__content {
  text-align: left;
  padding-left: 9.9rem;
  padding-top: 12.3rem;
}
.hero__title {
  margin-bottom: 26px;
  font-size: 7.6rem;
}
.hero__label {
  margin-bottom: 26rem;
}
.hero .scroll-to-explore {
  display: inline-block;
  vertical-align: top;
}
.hero .scroll-to-explore a {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffad0e;
  padding-right: 1rem;
}
.hero .scroll-to-explore span {
  color: #ffad0e;
}
.hero__wrapper {
  position: relative;
}
.hero__carousel-item {
  max-width: 45rem;
}
.hero__carousel-item span {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffad0e;
  max-width: 35.2rem;
  position: relative;
}
.hero__carousel-item span::before {
  position: absolute;
  content: "";
  width: 6.4rem;
  height: 10.3rem;
  background: url("/img/icon/arrow-down-left-big1.svg") no-repeat;
  bottom: -11rem;
  right: 0;
}
.hero__carousel-item img {
  margin: -11px 0 0 95px;
}
.hero .custom-nav {
  position: absolute;
  background: transparent;
  bottom: -24px;
  left: -4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  pointer-events: none;
  gap: 30px;
  z-index: 50;
}
.hero .custom-nav .custom-prev span,
.hero .custom-nav .custom-next span {
  color: #ffad0e;
  font-size: 26px;
}
.hero .custom-nav .custom-prev span:hover,
.hero .custom-nav .custom-next span:hover {
  color: #E09A14;
}
.hero .custom-nav .custom-prev span:active,
.hero .custom-nav .custom-next span:active {
  color: #CC8D16;
}
.hero .custom-nav button {
  background: none;
  border: none;
  pointer-events: all;
  cursor: pointer;
  width: 3.6rem;
  height: 3.6rem;
}
.hero .custom-dots {
  display: flex;
  gap: 0.8rem;
  pointer-events: all;
}
.hero .custom-dots:hover {
  color: #E09A14;
}
.hero .custom-dots .owl-dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.hero .custom-dots .owl-dot.active {
  background-color: #ffad0e;
}
.hero__cta {
  position: absolute;
  bottom: 33px;
  right: 16px;
  z-index: 100;
}

.number__container {
  padding: 11.8rem 1.5rem 8.8rem 1.5rem;
}
.number__content {
  padding-left: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10.7rem;
}
.number__title {
  margin-bottom: 2.6rem;
}
.number__label {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8;
  color: #fff;
  max-width: 44.5rem;
}
.number__services {
  width: 34.8rem;
  padding-top: 13rem;
  text-align: right;
}
.number__list {
  display: flex;
  justify-content: space-between;
  gap: 3.1rem;
}
.number__item {
  width: 25%;
}
.number__value {
  display: block;
  font-size: 9.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #e5fcfa;
  margin-bottom: 0.4rem;
}
.number__text {
  display: block;
  font-family: "Source Serif 4", serif;
  color: #58f6f2;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.services__subtitle {
  display: block;
  font-family: "Source Serif 4", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0a10b8;
  margin-bottom: 3.2rem;
}
.services__cta a {
  box-shadow: 0 0.4rem 1.2rem 0 rgba(20, 38, 37, 0.2392156863);
}

.quote {
  overflow: hidden;
}
.quote__body {
  background-color: #e5fcfa;
  border-radius: 3.2rem 0 0 3.2rem;
  padding: 15.4rem 9.2rem 8.4rem 9.7rem;
  position: relative;
}
.quote__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100%;
  background-color: #e5fcfa;
  margin: 0 0 0 -0.1rem;
}
.quote__text {
  font-family: "Source Serif 4", serif;
  color: #142625;
  font-size: 4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 2.4rem;
  position: relative;
}
.quote__text::after {
  font-family: "icomoon" !important;
  content: "\e915";
  color: #0a10b8;
  font-size: 65px;
  position: absolute;
  top: -10rem;
  left: 0;
}
.quote__text::before {
  content: "";
  width: 16rem;
  height: 9.1rem;
  background: url("/img/icon/arrow.svg") no-repeat center center/cover;
  position: absolute;
  bottom: -116px;
  right: 4px;
}
.quote__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7;
  color: #0a10b8;
}

.technologies__container {
  padding-top: 15.9rem;
}
.technologies__top {
  padding-left: 17.6rem;
  display: flex;
  margin-bottom: 6rem;
}
.technologies__title {
  width: 50%;
}
.technologies__title .color-text {
  margin-left: -17.6rem;
}
.technologies__label {
  padding: 19px 5px 0 22px;
  width: 50%;
  font-size: 2rem;
}
.technologies__body {
  display: grid;
  grid-template-columns: repeat(5, 160px);
  grid-template-rows: repeat(4, auto);
  grid-gap: 3.2rem;
  justify-content: end;
  align-items: center;
}
.technologies .card__text {
  font-family: "Source Serif 4", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #e5fcfa;
}
.technologies .node {
  grid-column: 1/3;
  grid-row: 1;
}
.technologies .python {
  grid-column: 2/5;
  grid-row: 1;
}
.technologies .react {
  grid-column: 1/2;
  grid-row: 2;
}
.technologies .angular {
  grid-column: 2/3;
  grid-row: 2;
}
.technologies .redux {
  grid-column: 3/4;
  grid-row: 2;
}
.technologies .type-script {
  grid-column: 4/5;
  grid-row: 2;
}
.technologies .aws {
  grid-column: 4/5;
  grid-row: 3;
}
.technologies .azure {
  grid-column: 5/6;
  grid-row: 3;
}
.technologies .text-grid {
  grid-column: 1/3;
  grid-row: 4;
}
.technologies .react-native {
  grid-column: 3/4;
  grid-row: 4;
}
.technologies .swift {
  grid-column: 4/5;
  grid-row: 4;
}
.technologies .kotlin {
  grid-column: 5/6;
  grid-row: 4;
}

.solutions__container {
  padding-top: 25.5rem;
}
.solutions__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  grid-template-rows: repeat(3, auto);
  grid-gap: 3.2rem;
}
.solutions__title {
  margin-bottom: 1.4rem;
}
.solutions__text {
  padding-left: 9.6rem;
}
.solutions__label {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  max-width: 35.2rem;
}
.solutions__subtitle {
  font-family: "Source Serif 4", serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.11;
  color: #e5fcfa;
  margin-bottom: 2.2rem;
}
.solutions__subtitle span {
  margin: 0 0 0 -9.6rem;
}
.solutions__item1 {
  grid-column: 1/3;
  grid-row: 1;
}
.solutions__item2 {
  grid-column: 3/3;
  grid-row: 1;
}
.solutions__item3 {
  grid-column: 1/2;
  grid-row: 2;
}
.solutions__item4 {
  grid-column: 2/3;
  grid-row: 2;
}
.solutions__item5 {
  grid-column: 3/4;
  grid-row: 2;
}
.solutions__item6 {
  grid-column: 1/2;
  grid-row: 3;
}
.solutions__item7 {
  grid-column: 2/5;
  grid-row: 3;
  justify-self: center;
  padding: 29px 0px 0px 143px;
}

.solutions-process p:last-child {
  margin: 0;
}
.solutions-process__container {
  padding-top: 24.2rem;
}
.solutions-process__title {
  font-size: 7.2rem;
  padding-left: 9.6rem;
  margin-bottom: 6.4rem;
  position: relative;
}
.solutions-process__title::before {
  content: "";
  width: 16rem;
  height: 11rem;
  background: url("/img/icon/arrow-down-left-big.svg") no-repeat;
  position: absolute;
  bottom: -15rem;
  right: 9.7rem;
}
.solutions-process__body {
  display: grid;
  grid-template-columns: repeat(3, minmax(352px, 736px));
  grid-template-rows: repeat(3, auto);
  grid-gap: 3.2rem;
  justify-content: end;
  align-items: center;
  margin-bottom: 15.2rem;
}
.solutions-process__item1 {
  grid-column: 1/2;
  grid-row: 1;
}
.solutions-process__item2 {
  grid-column: 2/4;
  grid-row: 1;
  align-self: self-end;
}
.solutions-process__item3 {
  grid-column: 1/3;
  grid-row: 2;
  align-self: self-start;
}
.solutions-process__item4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.solutions-process__item5 {
  grid-column: 1/2;
  grid-row: 2;
  align-self: self-end;
}
.solutions-process__item6 {
  grid-column: 1/2;
  grid-row: 3;
}
.solutions-process .card-big {
  width: 35.2rem;
  height: 36.6rem;
  padding: 3.7rem 3.2rem;
  background-color: rgba(20, 38, 37, 0.12);
  border: 0.1rem solid #58f6f2;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.solutions-process .card-big__img {
  margin-bottom: 3.3rem;
}
.solutions-process .card-big__title {
  font-family: "Source Serif 4", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 0.8rem;
}
.solutions-process .card-big__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  color: #b2eee8;
}
.solutions-process .card-midlle {
  flex-direction: row;
  width: 73.6rem;
  height: 16.7rem;
  gap: 4rem;
}
.solutions-process .card-midlle .card-big__img {
  margin: 0;
}
.solutions-process .card__revers {
  flex-direction: row-reverse;
}
.solutions-process .card__revers .card-big__body {
  text-align: right;
}
.solutions-process__cta {
  justify-content: flex-end;
  gap: 14.2rem;
  margin-bottom: 13.3rem;
}
.solutions-process__cta .cta-block__label {
  font-family: "Source Serif 4", serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}
.solutions-process__cta .cta-block__label::before {
  content: "";
  height: 5.9rem;
  background: url("/img/icon/arrow-down-right-big.svg") no-repeat;
  bottom: 7.6rem;
  right: -6.8rem;
}

.testimonial {
  overflow: hidden;
}
.testimonial__body {
  background-color: #e5fcfa;
  border-radius: 0 3.2rem 3.2rem 0;
  padding: 15.6rem 9.7rem 15.7rem 0;
  position: relative;
}
.testimonial__body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 100%;
  background-color: #e5fcfa;
  margin: 0 -0.1rem 0 0;
}
.testimonial__title {
  position: relative;
  color: #142625;
  margin-bottom: 12.2rem;
}
.testimonial__title .second-line {
  padding-left: 28rem;
}
.testimonial__title::before {
  position: absolute;
  content: "";
  width: 9.3rem;
  height: 9.5rem;
  background: url("/img/icon/arrow-down-right-big1.svg") no-repeat;
  bottom: -6rem;
  left: 19.5rem;
}
.testimonial .custom {
  position: relative;
}
.testimonial__item {
  padding-left: 13.3rem;
  color: #000;
}
.testimonial__quote {
  font-family: "Source Serif 4", serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.testimonial__text {
  margin: 0 0 0 -3.5rem;
  padding: 0 0 0 3rem;
  border-left: 0.4rem solid #ff790e;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.testimonial__author {
  display: inline-flex;
  gap: 3.2rem;
  justify-content: flex-start;
  align-items: center;
}
.testimonial__photo {
  width: 6.4rem !important;
  height: 6.4rem;
  border-radius: 50%;
}
.testimonial__author-info {
  display: flex;
  flex-direction: column;
}
.testimonial__author-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
.testimonial__author-role {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin: 0;
}
.testimonial .custom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  bottom: 0.7rem;
  right: 5.5rem;
  z-index: 1;
}
.testimonial .custom-prev,
.testimonial .custom-next {
  background: none;
  border: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.testimonial .custom-prev span,
.testimonial .custom-next span {
  color: #ffad0e;
  font-size: 20px;
}
.testimonial .custom-prev span:hover,
.testimonial .custom-next span:hover {
  color: #E09A14;
}
.testimonial .custom-prev span:active,
.testimonial .custom-next span:active {
  color: #CC8D16;
}
.testimonial .custom-prev {
  left: -6.3rem;
}
.testimonial .custom-next {
  right: -6.5rem;
}
.testimonial .slide-indicator {
  margin: 0 10px;
  font-size: 16px;
  color: #ffad0e;
  font-family: "Source Serif 4", serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 4;
}

.contact__container {
  padding: 15.1rem 1.5rem 15.8rem 1.5rem;
}
.contact__title {
  padding-left: 9.6rem;
  margin-bottom: 2.4rem;
}
.contact__title .first-line {
  margin-left: -9.6rem;
}
.contact__body {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding-left: 9.6rem;
}
.contact__text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8;
  max-width: 35.2rem;
  position: relative;
}
.contact__text::before {
  position: absolute;
  content: "";
  width: 16rem;
  height: 6.8rem;
  background: url("/img/icon/arrow-right-big.svg") no-repeat;
  bottom: 141px;
  right: -96px;
}

.contact__form {
  background: #e0f7fa;
  padding: 4.8rem;
  border-radius: 1.6rem;
  width: 44.8rem;
}
.contact__form form {
  display: block;
  color: #142625;
}
.contact__form textarea {
  resize: none;
}
.contact__form label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  display: block;
}
.contact__form .form__group {
  margin-bottom: 3.2rem;
  position: relative;
}
.contact__form .form__group label {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.contact__form .form__group textarea ~ label {
  top: 3rem;
}
.contact__form .input {
  background: #e0f7fa;
  width: 100%;
  border-bottom: 1px solid #142625;
}
.contact__form .input::-moz-placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.contact__form .input::placeholder {
  opacity: 0;
  visibility: hidden;
  color: transparent;
}
.contact__form .input:not(:-moz-placeholder-shown):not(:focus) ~ label {
  top: -2rem;
}
.contact__form .input:focus ~ label,
.contact__form .input:not(:placeholder-shown):not(:focus) ~ label {
  top: -2rem;
}
.contact__form .form__group-upload {
  display: flex;
  margin-bottom: 1.9rem;
}
.contact__form .file-upload {
  display: inline-block;
  cursor: pointer;
}
.contact__form .file-upload img {
  margin-right: 0.9rem;
}
.contact__form .file-upload .upload-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffad0e;
  margin-right: 0.4rem;
}
.contact__form .file-upload .upload-text:hover {
  color: #E09A14;
  text-decoration: underline;
}
.contact__form .file-upload .upload-text:active {
  color: #CC8D16;
}
.contact__form .file-upload .upload-text:disabled {
  color: #FFCA62;
}
.contact__form .input-upload {
  display: none;
}
.contact__form .form__group-checkbox {
  margin-bottom: 3.5rem;
}
.contact__form .form__group-checkbox label {
  display: flex;
  align-items: center;
  position: relative;
}
.contact__form .form__group-checkbox label .checkmark {
  display: block;
  padding-left: 3.6rem;
  min-height: 1.6rem;
  position: relative;
  cursor: pointer;
}
.contact__form .form__group-checkbox label .checkmark::before, .contact__form .form__group-checkbox label .checkmark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background: transparent;
  border: 0.3rem solid #ffad0e;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}
.contact__form .form__group-checkbox label .checkmark::after {
  content: "1";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #ffad0e;
  background: #fff;
  border-color: #ffad0e;
  opacity: 0;
}
.contact__form .form__group-checkbox label a {
  color: #142625;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: underline;
}
.contact__form .form__group-checkbox label a:hover {
  opacity: 0.5;
}
.contact__form .form__group-checkbox label .checkbox {
  position: absolute;
  opacity: 0;
  left: -9999px;
}
.contact__form .form__group-checkbox label .checkbox:not([disabled]):hover + .checkbox::before {
  border-color: #67a9a2;
}
.contact__form .form__group-checkbox label .checkbox:checked + span::after {
  opacity: 1;
}
.contact__form .form__group-checkbox label .checkbox:checked:not([disabled]):hover + span::after {
  border-color: #FFCA62;
}

.submit {
  display: inline-block;
  background: transparent;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffad0e;
  padding: 1.3rem 4.9rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ffad0e;
}/*# sourceMappingURL=style.css.map */