.section__wrap {
   background: linear-gradient(180deg, #0abab5 0%, #0a67b8 100%);
   border-radius: 3.2rem;
   max-width: 144rem;
   margin: 0 auto;
}

.hero {
   // position: relative;
   // z-index: 1;
   background: url("/img/section-hero/bg-hero.png") 50% 50% no-repeat;
   background-color: $bg-color;

   // &::before {
   //    content: "";
   //    width: 120rem;
   //    height: 117rem;
   //    background: url("/img/section-hero/decor-big.png") no-repeat;
   //    position: absolute;
   //    top: -11.1rem;
   //    right: -19.6rem;
   //    opacity: 0.75;
   //    filter: blur(36.54999923706055px);
   //    mix-blend-mode: screen;
   // }
   // &::after {
   //    content: "";
   //    width: 60.7rem;
   //    height: 51.4rem;
   //    background: url("/img/section-hero/decor-small.png") no-repeat;
   //    position: absolute;
   //    top: -8rem;
   //    left: 0;
   //    mix-blend-mode: screen;
   //    // opacity: 0.75;
   // }

   &__container {
      @include display-flex;
      padding: 6rem 1.5rem 13.3rem 1.5rem;
      position: relative;
      overflow: hidden;
      gap: 3rem;
   }
   &__content {
      text-align: left;
      padding-left: 9.9rem;
      padding-top: 23.1rem;
   }
   &__title {
      margin-bottom: 26px;
      font-size: 7.6rem;
   }

   &__label {
      margin-bottom: 26rem;
   }
   .scroll-to-explore {
      display: inline-block;
      vertical-align: top;
      a {
         font-size: 1.8rem;
         font-weight: 600;
         line-height: 1.67;
         text-transform: uppercase;
         color: $color-primary_accent_orange;
         padding-right: 1rem;
      }
      span {
         color: $color-primary_accent_orange;
      }
   }
   &__wrapper {
      position: relative;
   }
   &__carousel {
      &-item {
         max-width: 45rem;
         // max-height: 61.1rem;
         span {
            display: block;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3;
            color: $color-primary_accent_orange;
            max-width: 35.2rem;
            position: relative;
            &::before {
               position: absolute;
               content: "";
               width: 6.4rem;
               height: 10.3rem;
               background: url("/img/icon/arrow-down-left-big1.svg") no-repeat;
               bottom: -11rem;
               right: 0;
            }
         }
         img {
            margin: -11px 0 0 95px;
         }
      }
   }
   .custom-nav {
      position: absolute;
      background: transparent;
      bottom: -24px;
      left: -4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translateY(-50%);
      pointer-events: none;
      gap: 30px;
      z-index: 50;
      .custom-prev,
      .custom-next {
         span {
            color: $color-primary_accent_orange;
            font-size: 26px;
            &:hover {
               color: $color-orange_hover_btn;
            }
            &:active {
               color: $color-orange_pressed_btn;
            }
         }
      }

      button {
         background: none;
         border: none;
         pointer-events: all;
         cursor: pointer;
         width: 3.6rem;
         height: 3.6rem;
      }
   }
   .custom-dots {
      display: flex;
      gap: 0.8rem;
      pointer-events: all;
      &:hover {
         color: $color-orange_hover_btn;
      }
   }

   .custom-dots .owl-dot {
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
   }

   .custom-dots .owl-dot.active {
      background-color: $color-primary_accent_orange;
   }

   &__cta {
      position: absolute;
      bottom: 33px;
      right: 16px;
      z-index: 100;
   }
}
.number {
   background: url("/img/section-number/bg-numbers.png") 50% 50% no-repeat;
   // position: relative;
   // z-index: 1;
   // &::before {
   //    content: "";
   //    width: 110rem;
   //    height: 112rem;
   //    background: url("/img/section-number/decor-big.png") no-repeat;
   //    position: absolute;
   //    top: -2.1rem;
   //    right: -19.6rem;
   //    opacity: 0.55;
   //    filter: blur(22.5px);
   // }
   // &::after {
   //    content: "";
   //    width: 64.2rem;
   //    height: 40rem;
   //    background: url("/img/section-number/decor-small.png") no-repeat;
   //    position: absolute;
   //    top: 7rem;
   //    left: -29rem;
   //    filter: blur(21.75px);
   //    // opacity: 0.75;
   // }

   &__container {
      padding: 11.8rem 1.5rem 8.8rem 1.5rem;
   }
   &__content {
      padding-left: 9.6rem;
      @include display-flex;
      // gap: 13.2rem;
      margin-bottom: 10.7rem;
   }
   &__text {
      // width: 50%;
   }
   &__title {
      margin-bottom: 2.6rem;
   }
   &__label {
      font-family: "Source Sans 3", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.8;
      color: $color-primary_white;
      max-width: 44.5rem;
   }
   &__services {
      width: 34.8rem;
      padding-top: 13rem;
      text-align: right;
   }
   &__list {
      display: flex;
      justify-content: space-between;
      gap: 3.1rem;
   }
   &__item {
      width: 25%;
   }
   &__value {
      display: block;
      font-size: 9.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: $color-primary_light;
      margin-bottom: 0.4rem;
   }
   &__text {
      display: block;
      font-family: "Source Serif 4", serif;
      color: #58f6f2;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
   }
}
.services {
   &__subtitle {
      display: block;
      font-family: "Source Serif 4", serif;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #0a10b8;
      margin-bottom: 3.2rem;
   }
   &__cta a {
      box-shadow: 0 0.4rem 1.2rem 0 #1426253d;
   }
}
.quote {
   overflow: hidden;
   &__container {
   }
   &__body {
      background-color: $color-primary_light;
      border-radius: 3.2rem 0 0 3.2rem;
      padding: 15.4rem 9.2rem 8.4rem 9.7rem;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 100%;
         width: 100vw;
         height: 100%;
         background-color: $color-primary_light;
         margin: 0 0 0 -0.1rem;
      }
   }
   &__text {
      font-family: "Source Serif 4", serif;
      color: $color-primary_dark_green;
      font-size: 4rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 2.4rem;
      position: relative;
      &::after {
         font-family: "icomoon" !important;
         content: "\e915";
         color: #0a10b8;
         font-size: 65px;
         // width: 6.6rem;
         // height: 5.7rem;
         // background: url("/img/icon/icon-quotes.svg") no-repeat center center/cover;
         position: absolute;
         top: -10rem;
         left: 0;
      }
      &::before {
         content: "";
         width: 16rem;
         height: 9.1rem;
         background: url("/img/icon/arrow.svg") no-repeat center center/cover;
         position: absolute;
         bottom: -116px;
         right: 4px;
      }
   }
   &__link {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.7;
      color: #0a10b8;
   }
}

.technologies {
   // position: relative;
   // z-index: 1;
   background: url("/img/section-technologies/technology_bg.png") 50% -150% no-repeat;
   // &::before {
   //    content: "";
   //    width: 112rem;
   //    height: 81rem;
   //    background: url("/img/section-technologies/technology_bg.png") no-repeat;
   //    position: absolute;
   //    top: 0;
   //    right: 0;
   //    opacity: 0.55;
   //    filter: blur(36.29999923706055px);
   // }
   &__container {
      padding-top: 15.9rem;
   }
   &__top {
      padding-left: 17.6rem;
      display: flex;
      margin-bottom: 6rem;
   }
   &__title {
      width: 50%;
      .color-text {
         margin-left: -17.6rem;
      }
   }
   &__label {
      padding: 19px 5px 0 22px;
      width: 50%;
      font-size: 2rem;
   }
   &__body {
      display: grid;
      grid-template-columns: repeat(5, 160px);
      // grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-template-rows: repeat(4, auto);
      grid-gap: 3.2rem;
      justify-content: end;
      align-items: center;
   }
   .card__text {
      font-family: "Source Serif 4", serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.8;
      color: $color-primary_light;
   }
   .node {
      grid-column: 1 / 3;
      grid-row: 1;
   }
   .python {
      grid-column: 2 / 5;
      grid-row: 1;
   }
   .react {
      grid-column: 1 / 2;
      grid-row: 2;
   }
   .angular {
      grid-column: 2 / 3;
      grid-row: 2;
   }
   .redux {
      grid-column: 3 / 4;
      grid-row: 2;
   }
   .type-script {
      grid-column: 4 / 5;
      grid-row: 2;
   }
   .aws {
      grid-column: 4 / 5;
      grid-row: 3;
   }
   .azure {
      grid-column: 5 / 6;
      grid-row: 3;
   }
   .text-grid {
      grid-column: 1 / 3;
      grid-row: 4;
   }
   .react-native {
      grid-column: 3 / 4;
      grid-row: 4;
   }
   .swift {
      grid-column: 4 / 5;
      grid-row: 4;
   }
   .kotlin {
      grid-column: 5 / 6;
      grid-row: 4;
   }
}
// @media (max-width: 1200px) {
//    .technologies__body {
//       grid-template-columns: repeat(3, 1fr);
//    }
//    .node,
//    .python,
//    .react,
//    .angular,
//    .redux,
//    .type-script,
//    .aws,
//    .azure,
//    .text-grid,
//    .react-native,
//    .swift,
//    .kotlin {
//       grid-column: span 3 !important;
//    }
// }

// @media (max-width: 992px) {
//    .technologies__top {
//       flex-direction: column;
//       padding-left: 0;
//    }
//    .technologies__title,
//    .technologies__label {
//       width: 100%;
//       text-align: center;
//    }
//    .technologies__body {
//       grid-template-columns: repeat(2, 1fr);
//    }
//    .node,
//    .python,
//    .react,
//    .angular,
//    .redux,
//    .type-script,
//    .aws,
//    .azure,
//    .text-grid,
//    .react-native,
//    .swift,
//    .kotlin {
//       grid-column: span 2 !important;
//    }
// }

// @media (max-width: 768px) {
//    .technologies__body {
//       grid-template-columns: 1fr;
//    }
//    .node,
//    .python,
//    .react,
//    .angular,
//    .redux,
//    .type-script,
//    .aws,
//    .azure,
//    .text-grid,
//    .react-native,
//    .swift,
//    .kotlin {
//       grid-column: span 1 !important;
//    }
//    .text-grid {
//       grid-row: span 1 !important;
//    }
// }

.solutions {
   background: url("/img/section-solutions/solutions_bg.png") 50% 90% no-repeat;
   &__container {
      padding-top: 25.5rem;
      padding-bottom: 24.2rem;
   }
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 352px);
      // grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      grid-template-rows: repeat(3, auto);
      grid-gap: 3.2rem;
      // justify-content: end;
      // align-items: center;
   }
   &__item {
      // margin-bottom: 3.2rem;
      // margin-right: 3.2rem;
      // padding-right: 3.2rem;
      // &:nth-child(3n) {
      //    margin-right: 0;
      // }
      // &:not(:nth-child(3n)) {
      //    margin-right: 3.2rem;
      //  }
   }
   &__title {
      margin-bottom: 1.4rem;
   }
   &__text {
      padding-left: 9.6rem;
   }
   &__label {
      font-family: "Source Sans 3", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.8;
      max-width: 35.2rem;
   }
   &__subtitle {
      font-family: "Source Serif 4", serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.11;
      color: $color-primary_light;
      margin-bottom: 2.2rem;
      span {
         margin: 0 0 0 -9.6rem;
      }
   }

   ///////////////////////////////////////////////////
   &__item1 {
      grid-column: 1 / 3;
      grid-row: 1;
   }
   &__item2 {
      grid-column: 3 / 3;
      grid-row: 1;
   }
   &__item3 {
      grid-column: 1 / 2;
      grid-row: 2;
   }
   &__item4 {
      grid-column: 2 / 3;
      grid-row: 2;
   }
   &__item5 {
      grid-column: 3 / 4;
      grid-row: 2;
   }
   &__item6 {
      grid-column: 1 / 2;
      grid-row: 3;
   }
   &__item7 {
      grid-column: 2 / 5;
      grid-row: 3;
      justify-self: center;
      padding: 29px 0px 0px 143px;
   }
}
.solutions-process {
   p:last-child {
      margin: 0;
   }
   &__container {
      background: url("/img/section-solutions-process/optimal solution_bg.png") 120% 85% no-repeat;
   }
   &__title {
      font-size: 7.2rem;
      padding-left: 9.6rem;
      margin-bottom: 6.4rem;
      position: relative;
      &::before {
         content: "";
         width: 16rem;
         height: 11rem;
         background: url("/img/icon/arrow-down-left-big.svg") no-repeat;
         position: absolute;
         bottom: -15rem;
         right: 9.7rem;
      }
   }
   &__body {
      display: grid;
      // grid-template-columns: repeat(3, 352px);
      grid-template-columns: repeat(3, minmax(352px, 736px));
      grid-template-rows: repeat(3, auto);
      grid-gap: 3.2rem;
      justify-content: end;
      align-items: center;
      margin-bottom: 15.2rem;
   }
   &__item1 {
      grid-column: 1 / 2;
      grid-row: 1;
   }
   &__item2 {
      grid-column: 2 / 4;
      grid-row: 1;
      align-self: self-end;
   }
   &__item3 {
      grid-column: 1 / 3;
      grid-row: 2;
      align-self: self-start;
   }
   &__item4 {
      grid-column: 3 / 4;
      grid-row: 2/3;
   }
   &__item5 {
      grid-column: 1 / 2;
      grid-row: 2;
      align-self: self-end;
   }
   &__item6 {
      grid-column: 1 / 2;
      grid-row: 3;
   }
   .card-big {
      width: 35.2rem;
      height: 36.6rem;
      padding: 3.7rem 3.2rem;
      background-color: rgba(20, 38, 37, 0.12);
      border: 0.1rem solid #58f6f2;
      border-radius: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &__img {
         margin-bottom: 3.3rem;
      }
      &__title {
         font-family: "Source Serif 4", serif;
         font-size: 3rem;
         font-weight: 400;
         line-height: 1.2;
         color: $color-primary_white;
         margin-bottom: 0.8rem;
      }
      &__text {
         font-size: 1.8rem;
         font-weight: 400;
         line-height: 1.7;
         color: #b2eee8;
      }
   }
   .card-midlle {
      flex-direction: row;
      width: 73.6rem;
      height: 16.7rem;
      gap: 4rem;
      .card-big__img {
         margin: 0;
      }
   }
   .card__revers {
      flex-direction: row-reverse;
      .card-big__body {
         text-align: right;
      }
   }
   &__cta {
      justify-content: flex-end;
      gap: 14.2rem;
      margin-bottom: 13.3rem;
      .cta-block__label {
         font-family: "Source Serif 4", serif;
         font-size: 4rem;
         font-weight: 600;
         line-height: 1.1;
         &::before {
            content: "";
            height: 5.9rem;
            background: url("/img/icon/arrow-down-right-big.svg") no-repeat;
            bottom: 7.6rem;
            right: -6.8rem;
         }
      }
   }
}
.testimonial {
   overflow: hidden;

   &__container {
   }
   &__body {
      background-color: $color-primary_light;
      border-radius: 0 3.2rem 3.2rem 0;
      padding: 15.6rem 9.7rem 15.7rem 0;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 100%;
         width: 100vw;
         height: 100%;
         background-color: $color-primary_light;
         margin: 0 -0.1rem 0 0;
      }
   }
   &__title {
      position: relative;
      color: $color-primary_dark_green;
      // padding-left: 18.8rem;
      margin-bottom: 12.2rem;
      .second-line {
         // margin-left: -18.8rem;
         padding-left: 28rem;
      }
      &::before {
         position: absolute;
         content: "";
         width: 9.3rem;
         height: 9.5rem;
         background: url("/img/icon/arrow-down-right-big1.svg") no-repeat;
         bottom: -6rem;
         left: 19.5rem;
      }
   }
   .custom {
      position: relative;
   }
   &__carousel {
      // background: #000;
      // position: relative;
   }
   &__item {
      padding-left: 13.3rem;
      color: #000;
   }
   &__quote {
      font-family: "Source Serif 4", serif;
      font-size: 3rem;
      font-style: italic;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 3rem;
   }
   &__text {
      margin: 0 0 0 -3.5rem;
      padding: 0 0 0 3rem;
      border-left: 0.4rem solid #ff790e;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 4.8rem;
   }
   &__author {
      display: inline-flex;
      gap: 3.2rem;
      justify-content: flex-start;
      align-items: center;
   }
   &__photo {
      width: 6.4rem !important;
      height: 6.4rem;
      border-radius: 50%;
   }
   &__author-info {
      display: flex;
      flex-direction: column;
   }
   &__author-name {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
   }
   &__author-role {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
      margin: 0;
   }
   .custom-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      position: absolute;
      bottom: 0.7rem;
      right: 5.5rem;
      z-index: 1;
   }

   .custom-prev,
   .custom-next {
      background: none;
      border: none;
      // font-size: 20px;
      // color: orange;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      span {
         color: $color-primary_accent_orange;
         font-size: 20px;
         &:hover {
            color: $color-orange_hover_btn;
         }
         &:active {
            color: $color-orange_pressed_btn;
         }
      }
   }
   .custom-prev {
      left: -6.3rem;
   }
   .custom-next {
      right: -6.5rem;
   }

   .slide-indicator {
      margin: 0 10px;
      font-size: 16px;
      color: $color-primary_accent_orange;
      font-family: "Source Serif 4", serif;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 4;
   }
}

.contact {
   background: url("/img/section-contact/lets chat_bg.png") 50% 200% no-repeat;
   &__container {
      padding: 15.1rem 1.5rem 15.8rem 1.5rem;
   }
   &__title {
      padding-left: 9.6rem;
      margin-bottom: 2.4rem;
      .first-line {
         margin-left: -9.6rem;
      }
   }
   &__body {
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      padding-left: 9.6rem;
   }
   &__text {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.8;
      max-width: 35.2rem;
      position: relative;
      &::before {
         position: absolute;
         content: "";
         width: 16rem;
         height: 6.8rem;
         background: url("/img/icon/arrow-right-big.svg") no-repeat;
         bottom: 141px;
         right: -96px;
      }
   }
}
.contact__form {
   background: #e0f7fa;
   padding: 4.8rem;
   border-radius: 1.6rem;
   // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 44.8rem;
   form {
      display: block;
      // display: flex;
      // flex-direction: column;
      color: $color-primary_dark_green;
   }
   textarea {
      resize: none;
   }
   label {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3;
      display: block;
   }
   .form__group {
      margin-bottom: 3.2rem;
      position: relative;
      label {
         position: absolute;
         top: 0;
         left: 0;
         text-transform: uppercase;
      }
      textarea ~ label {
         top: 3rem;
      }
   }

   .input {
      background: #e0f7fa;
      width: 100%;
      border-bottom: 1px solid $color-primary_dark_green;

      &::placeholder {
         opacity: 0;
         visibility: hidden;
         color: transparent;
      }
   }

   .input:focus ~ label,
   .input:not(:placeholder-shown):not(:focus) ~ label {
      top: -2rem;
   }
   .form__group-upload {
      display: flex;
      margin-bottom: 1.9rem;
   }
   .file-upload {
      display: inline-block;
      cursor: pointer;
      img {
         margin-right: 0.9rem;
      }
      .upload-text {
         font-size: 1.6rem;
         font-weight: 600;
         line-height: 1.2;
         text-transform: uppercase;
         color: $color-primary_accent_orange;
         margin-right: 0.4rem;
         &:hover {
            color: $color-orange_hover_btn;
            text-decoration: underline;
         }
         &:active {
            color: $color-orange_pressed_btn;
         }
         &:disabled {
            color: $color-orange_disable_btn;
         }
      }
   }
   .input-upload {
      display: none;
   }
   .form__group-checkbox {
      margin-bottom: 3.5rem;
      label {
         display: flex;
         align-items: center;
         position: relative;
         .checkmark {
            display: block;
            padding-left: 3.6rem;
            min-height: 1.6rem;
            position: relative;
            cursor: pointer;

            &::before,
            &::after {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               height: 1.8rem;
               width: 1.8rem;
               background: transparent;
               border: 0.3rem solid $color-primary_accent_orange;
               border-radius: 0.3rem;
               transition: all 0.3s ease;
            }

            &::after {
               content: "1";
               // background: url("/img/icon/checkmark.svg") no-repeat;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 1.4rem;
               color: $color-primary_accent_orange;
               background: $color-link-header;
               border-color: $border-color-btn;
               opacity: 0;
            }
         }
         a {
            color: $color-primary_dark_green;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.3;
            text-decoration: underline;
            &:hover {
               opacity: 0.5;
            }
         }
         .checkbox {
            position: absolute;
            opacity: 0;
            left: -9999px;

            &:not([disabled]):hover + .checkbox::before {
               border-color: $color-secondary_light_green;
            }
            &:checked {
               & + span::after {
                  opacity: 1;
               }

               &:not([disabled]):hover + span::after {
                  // background: $color-orange_disable_btn;
                  border-color: $color-orange_disable_btn;
               }
            }
         }
      }
   }
}
.submit {
   display: inline-block;
   background: transparent;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1;
   color: $color-primary_accent_orange;
   padding: 1.3rem 4.9rem;
   border-radius: 0.4rem;
   border: 0.1rem solid $border-color-btn;
}
