// //main text color
// $color-gray: #777;
// //main texts sites
// // $color-brown-light: #ba8554;
// // $color-brown-darck: #a14f03;
$color-primary_white: #fff;
$color-primary_light: #e5fcfa;
$color-primary_accent_orange: #ffad0e;
$color-secondary_light_green: #67a9a2;
$color-primary_dark_green: #142625;

$bg-color: #142625;

// $color-black: #000;

// //basic shadow for buttons
// $box-shadow: (0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
// $shadaw-h2: 0rem 0.4rem 4rem rgba($color-black, 0.25);
$font-size-btn: 1.8rem;
$border-color-btn: #ffad0e;
$border-color-btn: #ffad0e;
$color-orange_hover_btn:#E09A14;
$color-orange_pressed_btn: #CC8D16;
$color-orange_disable_btn: #FFCA62;



// $grid-width: 114rem;
// $margin-vertical-big: 8rem;
// $gutter-horizontal: 6rem;

$font-size-paragraph: 2rem;

$font-size-link-header-nav: 1.8rem;
$color-link-header: #fff;

// $font-size-h2: 3.6rem;
// $font-size-h3: 2rem;
